<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--반복문 처리-->
<!--<ul>-->
<!--    <li th:each="dto : ${list}">-->
<!--        [[${dto}]]-->
<!--    </li>-->
<!--</ul>-->

<!--<ul>-->
<!--    <li th:each="dto, state : ${list}">-->
<!--        [[${state.index}]] -&#45;&#45; [[${dto}]]-->
<!--    </li>-->
<!--</ul>-->

<!--제어문 처리-->
<!--<ul>-->
<!--    <li th:each="dto, state : ${list}" th:if="${dto.sno % 5 == 0}">-->
<!--        [[${dto}]]-->
<!--    </li>-->
<!--</ul>-->

<!--<ul>-->
<!--    <li th:each="dto, state : ${list}">-->
<!--        <span th:if="${dto.sno % 5 == 0}" th:tex="${'-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;' +dto.sno}"></span>-->
<!--        <span th:unless="${dto.sno % 5 == 0}" th:text="${dto.first}"></span>-->
<!--    </li>-->
<!--</ul>-->

<!--삼항 연산자-->
<!--<ul>-->
<!--    <li th:each="dto, state : ${list}" th:text="${dto.sno % 5 == 0 }? ${dto.sno}: ${dto.first}">-->
<!--    </li>-->
<!--</ul>-->

<style>
    .target{
        background-color: red;
    }
</style>

<ul>
    <li th:each="dto, state: ${list}" th:class="${dto.sno % 5 == 0}?'target'" th:text="${dto}">
    </li>
</ul>
</body>
</html>